# DECISION TREE
This type of algorithm is used to classify complex categorical data. when splitting for decision-making in a Decision Tree, we use the dataset with High Information gain and low entropy (the degree of randomness)

In [6]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [8]:
df = pd.read_csv("salaries.csv")

In [9]:
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

<b>Coverting the independent features to numeric</b>

In [14]:
le = LabelEncoder()

In [15]:
df["n_company"] = le.fit_transform(df.company)

In [17]:
df["n_job"] = le.fit_transform(df.job)
df["n_degree"] = le.fit_transform(df.degree)

In [18]:
df

,company,job,degree,salary_more_then_100k,n_company,n_job,n_degree
0,google,sales executive,bachelors,0,2,2,0
1,google,sales executive,masters,0,2,2,1
2,google,business manager,bachelors,1,2,0,0
3,google,business manager,masters,1,2,0,1
4,google,computer programmer,bachelors,0,2,1,0
5,google,computer programmer,masters,1,2,1,1
6,abc pharma,sales executive,masters,0,0,2,1
7,abc pharma,computer programmer,bachelors,0,0,1,0
8,abc pharma,business manager,bachelors,0,0,0,0
9,abc pharma,business manager,masters,1,0,0,1
10,facebook,sales executive,bachelors,1,1,2,0
11,facebook,sales executive,masters,1,1,2,1
12,facebook,business manager,bachelors,1,1,0,0
13,facebook,business manager,masters,1,1,0,1
14,facebook,computer programmer,bachelors,1,1,1,0
15,facebook,computer programmer,masters,1,1,1,1

In [19]:
#Drop the non numerical variables

In [20]:
X = df.drop(["company", "job", "degree","salary_more_then_100k"], axis="columns") # also dropped the dependent variable
y = df.salary_more_then_100k

In [23]:
X = X.values

In [26]:
#splitting the datasets

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [25]:
dt = DecisionTreeClassifier()

In [28]:
dt.fit(X_train, y_train, )

DecisionTreeClassifier()

In [31]:
dt.score(X_train,y_train)

1.0

### Exercise: 
<b>Build decision tree model to predict survival based on certain parameters</b>

CSV file is available to download at https://github.com/codebasics/py/blob/master/ML/9_decision_tree/Exercise/titanic.csv

In this file using following columns build a model to predict if person would survive or not,
1. Pclass
2. Sex
3. Age
4. Fare

Calculate score of your model

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# selecting the required features for the model
df = df[["Pclass", "Sex", "Age","Fare", "Survived"]]

In [4]:
df.isnull().count()

Pclass      891
Sex         891
Age         891
Fare        891
Survived    891
dtype: int64

In [18]:
df.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [19]:
X = df.drop("Survived", axis="columns")

In [27]:
X.Sex = X.Sex.map({"female":0, "male":1}) # mapping the female and male into numeric 0 and 1 respectively

In [28]:
y = df.Survived

In [25]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [36]:
import math

In [44]:
x_missing_value = math.ceil(X.Age.mean())

In [45]:
X.Age = X.Age.fillna(x_missing_value)

In [47]:
X

     Pclass  Sex        Age     Fare
0         3    1  22.000000   7.2500
1         1    0  38.000000  71.2833
2         3    0  26.000000   7.9250
3         1    0  35.000000  53.1000
4         3    1  35.000000   8.0500
..      ...  ...        ...      ...
886       2    1  27.000000  13.0000
887       1    0  19.000000  30.0000
888       3    0  29.699118  23.4500
889       1    1  26.000000  30.0000
890       3    1  32.000000   7.7500

[891 rows x 4 columns]

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [52]:
from sklearn.tree import DecisionTreeClassifier

In [53]:
dr = DecisionTreeClassifier()

In [54]:
dr.fit(X_train,y_train)

DecisionTreeClassifier()

In [56]:
dr.score(X_test, y_test)

0.7653631284916201